
# Root directories
.idea/
.vscode/

# Plotting directories
plotting/ramachandran/*.pdb
plotting/twodplots/data*
plotting/twodplots/__pycache__/

# Spectral analysis directories
remline/.ipynb_checkpoints/
